body{
    background-color:#f1e4c6d7;
}
nav { 
  background-color: #000000; 
  position: sticky;
  top:0;          
  z-index: 1000;            
}
nav .logo {
  height: 50px;          
  width: auto;
  vertical-align:middle;
}
.navbar { 
  list-style: none;          
  display: flex;             
  justify-content: center;   
}

.navbar li { 
  position:relative;       
}

.navbar li a { 
  color: #ffffff;               
text-decoration: none;  
  padding: 10px 30px;        
  display: block;            
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
}
.navbar li a:hover { /*Upotreba AI-hover efekat*/
  background-color: #585a5c; 
}

/* Dropdown meni */
.dropdown {
  display: none;             
  position: absolute;        
  top: 100%;        
  left: 0;          
  background-color: #000000; 
  list-style: none;          
  margin: 0;       
  padding: 0;      
  min-width: 176px;          
}


.dropdown li a { 
  padding: 15px;             
  color: #fff;               
}

.dropdown li a:hover { 
  background-color: #515457; 
}

.navbar li:hover .dropdown { 
  display: block;            
}
/* Naslovi */
h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: #c9a351d7;
  margin-top: 80px;
  margin-bottom: 20px;
  font-size:60px;
  letter-spacing: 2px;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: #443514d7;
  margin-bottom: 50px;
  font-size:25px;
  font-style: italic;
}

/* Paragraf */
p {
  max-width: 1000px;
  margin: auto;
  text-align: match-parent;
  font-size: 17px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
}


.pravci {
  max-width: 1000px;
  margin:auto ;
  list-style-type:disc;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
}

.pravci li {
  margin: 10px ;
  padding: 2px;
  
}

/* Podlista unutar "Moderna" */
.pravci li ul {
  margin-top: 7px;
  padding:2px;
  padding-left: 20px;
}

.pravci li ul li {
  font-style: italic;
}
.dugmici {
  text-align: center;
  margin: 30px ;
}

.dugmici button {
  padding: 20px 30px;
  margin: 5px;
  border-style:double;
  border-radius: 8px;
  color: #fff; /* tekst crn */
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s;
}

.dugmici button:hover {
  transform: scale(1.10);
}


.renesansa{
    background-color: #000000;
}
.barok{
    background-color: #000000;
}
.impresionizam{
    background-color: #000000;
}
.postimpresionizam{
    background-color: #000000;
}
.ekspresionizam{
    background-color: #000000;
}
.moderna{
    background-color: #000000;
}
